@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-neutral-950 text-neutral-100 antialiased;
}

.card {
  @apply bg-neutral-900/60 rounded-xl border border-neutral-800;
}

.muted {
  @apply text-neutral-400;
}